<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="phrase"
         class="form-control" placeholder="What are you looking for? "
        aria-label="search" >
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </div>

      <table class="table table table-striped ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Superpower</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let hero of heroList |filter:phrase">
            <th scope="row">{{hero.id}}</th>
            <td>{{hero.name}}</td>
            <td>{{hero.superPower}}</td>
            <td>@{{hero.address}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
